/* HEADER */
/* CONTENT */
/* line 4 */
#index-container {
  margin-top: 25vh;
}

/* line 10 */
#logo {
  display: flex;
  justify-content: center;
}

/* line 14 */
#search {
  display: flex;
  justify-content: center;
}

/* line 19 */
#search div input {
  width: 50vw;
  margin-right: 1em;
}

/* FOOTER */
/* line 25 */
#footer-container {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}
