/* HEADER */
/* line 2 */
#logo {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 10 */
#search div input {
  width: 50vw;
}

/* CONTENT */
/* FOOTER */
